<% if @classroom.errors.any? %>
	<h2>
		<%= pluralize(@classroom.errors.count, "error") %>
		prohibited the classroom from being saved:
	</h2>
	<ul>
		<% @classroom.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>


<h1>Edit Classroom</h1>
<%= form_for @classroom, url: user_classroom_path do |f| %>

	<%= f.label :subject %>
	<%= f.text_field :subject %>
	<br>
	<%= f.collection_check_boxes :student_ids, Student.all, :id, :full_name %>
	<br>
	<%= f.hidden_field :id, value: @user.id %>

	<%= f.submit %>
<% end %>
<br><br>

<%= button_to "Delete Classroom", user_classroom_path, method: :delete %>

<br><br>

<%= link_to 'Back to Profile page', current_user %>
<br>
<br>
<%= link_to 'Back to home page', root_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: 'delete' %>