<h1>Welcome to <%= @classroom.subject %>!</h1>


<br>
<h2>Student Roster:</h2>
<% @classroom.students.order(:last_name).each do |student| %>
	<%= student.last_name %>, <%= student.first_name %>
	<br>
<% end %>
<br><br>

<%= link_to 'Edit Classroom', edit_user_classroom_path %>

<br><br>

<%= link_to 'Back to Profile page', current_user %>
<br>
<br>
<%= link_to 'Back to home page', root_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: 'delete' %>