<p>Student Name: <%= @student.full_name %></p>
<p>Grade: <%= @student.grade %></p>
<p>Classes:<br>
	<% @student.classrooms.each do |classroom| %>
		<%= "#{classroom.subject} -  #{classroom.user.title} #{classroom.user.last_name}"%>
		<br>
	<% end %>
</p>
<p>Teachers:<br>
	<% @student.users.each do |teacher| %>
		<%= "#{teacher.title} #{teacher.last_name}" %>
		<br>
	<% end %>
</p>

<br><br>
<%= link_to 'Edit Student', edit_student_path %>
<br><br>

<%= link_to 'Back to Profile page', current_user %>
<br>
<br>
<%= link_to 'Back to home page', root_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: 'delete' %>