<h1><%= current_user.title %> <%= current_user.last_name %>'s Classrooms</h1>


<%= link_to 'Create a new classroom', new_user_classroom_path(current_user) %>

<br>
<br>
<%= link_to 'Create a new student', new_student_path %>
<br>
<br>

<%= link_to 'List of all students', students_path %>

<p>Classrooms:</p>
<% current_user.classrooms.each do |classroom| %>
	<div><%= link_to classroom.subject, user_classroom_path(current_user, classroom.id) %></div>
<% end %>


<br>
<br>
<%= link_to 'Back to Profile page', current_user %>
<br>
<br>
<%= link_to 'Back to home page', root_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: 'delete' %>