<h1>Add a Start Date and Time to a Class</h1>

<%= form_for @student_classroom, url: student_classrooms_path do |f| %>
	<%= f.label 'Class Time' %>
	<%= f.datetime_select :classtime %>
	<br><br>

	<%= f.submit %>
<% end %>

<br><br>


<%= link_to 'Back to Profile page', current_user %>
<br>
<br>
<%= link_to 'Back to home page', root_path %>
<br>
<br>
<%= link_to "Log Out", logout_path, method: 'delete' %>